
body {
@charset "utf-8";
	background: #DD9B27;
}

header {
    width: 100%;
    padding: 8px;
    background: RGBA(0, 0, 0, 0.15);
    clear: both;
    text-align: center;
	box-sizing: border-box;
}
#headerLeft {
    display: inline-block;
    float: left;
}
#headerCenter {
    display: inline-block;
    height: 100%;
    padding: 3px 5px 0 5px;
    border: 1px solid;
    border-color: RGBA(255,255,255,0.1);
    border-radius: 5px;
    font-weight: 700;
    background: RGBA(255,255,255,0.1);
    color: #FFF;
}
#headerRight {
    display: inline-block;
    float: right;
}

content {
    display: block;
    position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: scroll;
}
#todoDisplay {
	display: block;
	position: absolute;
	height: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#todoDisplay > div > dl {
	display: inline-block;
	width: 260px;
	padding: 3px;
	margin: 0 5px;
	border-radius: 5px;
	background: RGBA(226, 228, 230, 0.8);
	vertical-align: top;
}
#todoDisplay > div > dl > dt {
	display: block;
	width: 100%;
	padding: 3px;
	font-size: 18px;
	text-align: center;
}
.btn_add_todo {
	float: right;
	font-size: 18px;
}
.list_block {
	position: relative;
	width: 100%;
	overflow-y: scroll;
}
.list_block > ul {
	width: 100%;
	padding: 0 3px;
    box-sizing: border-box;
}
.list_block > ul > li {
	width: 100%;
	padding: 3px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: #FFF;
    box-sizing: border-box;
}
.list_block > ul > li > dl > dt {
    font-size: 20px;
}
.list_block > ul > li > dl > dd {
    font-size: 14px;
    color: #9C9C9C;
}