@charset "UTF-8";

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }

    #category li {
        width: 24%;
    }
}

@media (max-width: 375px) {
    #category li {
        width: 32%;
    }
}