<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>HyunArmSong's Stud</title>
        
        <script src="http://code.angularjs.org/angular-1.0.0rc10.min.js"></script>
    </head>
    
    <body ng-app="myApp">
        <div ng-controller="testCtl">
            키 : <input type="text" ng-model="myHeight"/>
            몸무게 : <input type="text" ng-model="myWeight"/>
            <input type="submit" ng-click="mySubmit()"/>

            <div>
                BMI : {{ mbi }}( {{ obesity }} )
            </div>
        </div>
    </body>
    
    <script>
        var myApp = angular.module('myApp', []);
        myApp.controller('testCtl', ['$scope', function ($scope) {
            $scope.mbi = 0;
            $scope.obesity = '-';
            
            $scope.mySubmit = function(){
                var height = $scope.myHeight / 100;
                $scope.mbi = ($scope.myWeight / (height * height)).toFixed(2);
                $scope.obesity = setObesity($scope.mbi);
            }
        }]);
        
        function setObesity(mbi){
            if(mbi < 18.5){
                return '저체중';
            }else if(mbi < 23){
                return '정상';
            }else if(mbi < 25){
                return '과체중';
            }else if(mbi < 30){
                return '비만';
            }else{
                return '고도비만';
            }
        }
    </script>
</html>